<footer class="footer_section" style="background-color: #222; color: white; padding: 40px 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-col">
        <div class="footer_contact">
          <h4 style="color: white;">Contact Us</h4>
          <div class="contact_link_box">
            <a href="#" style="color: #ccc;">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>Location</span>
            </a>
            <br>
            <a href="#" style="color: #ccc;">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>Call +01 1234567890</span>
            </a>
            <br>
            <a href="#" style="color: #ccc;">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>demo@gmail.com</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4 footer-col">
        <div class="footer_detail">
          <a href="#" class="footer-logo" style="color: white; font-size: 24px; font-weight: bold;">Feane</a>
          <p style="color: #ccc;">
            Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
          </p>
          <div class="footer_social">
            <a href="#" style="color: white; margin-right: 10px;"><i class="fa fa-facebook"></i></a>
            <a href="#" style="color: white; margin-right: 10px;"><i class="fa fa-twitter"></i></a>
            <a href="#" style="color: white; margin-right: 10px;"><i class="fa fa-linkedin"></i></a>
            <a href="#" style="color: white; margin-right: 10px;"><i class="fa fa-instagram"></i></a>
            <a href="#" style="color: white;"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 footer-col">
        <h4 style="color: white;">Opening Hours</h4>
        <p style="color: #ccc;">Everyday</p>
        <p style="color: #ccc;">10.00 Am - 10.00 Pm</p>
      </div>
    </div>

    <div class="footer-info text-center mt-4">
      <p style="color: #888;">
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/" style="color: #aaa;">Free Html Templates</a><br><br>
        &copy; <span id="displayYear"></span> Distributed By
        <a href="https://themewagon.com/" style="color: #aaa;" target="_blank">ThemeWagon</a>
      </p>
    </div>
  </div>
</footer>
