{% extends 'base.html' %}
{% load static %}
{% block title %}Menu{% endblock %}

{% block body_class %}
  sub_page
{% endblock %}


{% block content %}

<section class="food_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Our Phones
      </h2>
    </div>

    <ul class="filters_menu">
      <li class="active" data-filter="*">All</li>
      <li data-filter=".XIAOMI">XIAOMI</li>
      <li data-filter=".Apple">Apple</li>
      <li data-filter=".Samsung">Samsung</li>
      <li data-filter=".Motorola">Motorola</li>
      <li data-filter=".OnePlus">OnePlus</li>
      <li data-filter=".Oppo">Oppo</li>
      <li data-filter=".Sony">Sony</li>


    </ul>

    <div class="filters-content">
      <div class="row grid">










        
        {% for product in products %}
        <div class="col-sm-6 col-lg-4 all {{ product.brand }}">
          <div class="box">
            <div>
              <div class="img-box">


                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="full-img">
                {% else %}
                    <img src="{% static 'images/fallback.png' %}" class="full-img" alt="No image">
                {% endif %}

              </div>
              <div class="detail-box">
                <h5>
                  {{ product.name }}
                </h5>
                <p>
                  {{ product.description }}
                </p>

                <ul>
                  <li>Бренд: {{ product.brand }}</li>
                  <li>Цвет: {{ product.color }}</li>
                  <li>Страна: {{ product.dev_country }}</li>
                </ul>

                <div class="options">
                  <h6>
                    {{ product.price }} $
                  </h6>
                  <a href="{% url 'product_detail' slug=product.slug %}">
                    🛒
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <p>Пока нет товаров.</p>
        {% endfor %}

      </div>
    </div>

    <div class="btn-box">
      <a href="">
        View More
      </a>
    </div>
  </div>
</section>

{% endblock %}
